
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    font-family: sans-serif
}
.header_main {
    padding-top: 63px;
}
.logo {
    display: inline-block;
    color: black;
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 38px;
}
span {
    color: #4BCAFF ;
}
.navigation {
    text-align: center;
    background-color: #35444F;
    margin-bottom: 48px;
}
.menu_link {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    justify-content: center;
  }
.link {
    padding: 28px 33px 19px 33px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-left:  1px solid #FFFFFF;

}
.lastbutton {
    border-right: 1px solid #FFFFFF;
    padding-right: 18px;
}
.link_button {
    color: white;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.list_main {
    border: 1px solid black;
    width: 350px;
    height: 400px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0;
}
.main_button {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 44px;
    font-size: 27px;
    line-height: 27px;
    font-weight: 400;
}
.main_color {
    color: #495863;
}
.content {
    display: flex;
    flex-direction: column;
    width: 885px;
    margin-bottom: 53px;
}
.main_foto {
    padding-top: 75px;
    padding-bottom: 75px;
    border: 1px solid black;
    margin-top: 0;
    margin-bottom: 37px;
}
.main_link {
   margin: 0 auto;
}
.text {
    margin-top: 0;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.main_footer {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #63696E7A;
    margin-bottom: 30px;
}
.list_footer {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    padding-left: 20px;
}
.link_footer {
    padding-left: 20px;
}
.name_link_footer{
    color: #0C1927;
}
.copy {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: black;
    padding-right: 40px;
}
.link:hover {
    background-color: #222F3A;
}
.main_button:hover {
    background-color: #DBDBDB;
}
.main_color:hover {
    color: black;
    position: relative;
    right: -30px;
}
.name_link_footer:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
.main_link:hover{
    transition: transform 1s;
    transform: scale(1.2)
}
